<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<targets>
  <target name="f1" xsi:type="File" fileName="AxIntegrator.log.txt" archiveAboveSize="10240" archiveNumbering="Sequence" />
  <target name="el" xsi:type="EventLog"  log="AxIntegrator" layout="${message}" source="AxIntegratorService" />
	<target name="gmail" type="Mail" subject="Exception on ${machinename}"
            smtpServer="smtp.gmail.com"
            smtpPort="587"
            smtpAuthentication="Basic"
            smtpUsername="draperdick@gmail.com"
            smtpPassword="coolRest53"
            enableSsl="true"
            from="AxIntegrator@candydirect.com"
            to="charleszivko@gmail.com"
          />
</targets>
<rules>
	<logger name="*" minlevel="Debug" writeTo="f1,el" />
	<logger name="*" minlevel="Error" writeTo="gmail" />
</rules>
</nlog>