<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup useLegacyV2RuntimeActivationPolicy="true">
    	<supportedRuntime version="v4.0"/>
    </startup>

	  <connectionStrings>
	    <add name="CandyDirectAx" providerName="System.Data.SqlClient" connectionString="Data Source=localhost; Database=CandyDirectAx-Dev; User Id=sa;Password=manageMyInventory77;Application Name=Tests;" />
	  </connectionStrings>
	<appSettings>
		<add key="CheckForNewOrdersInterval" value="120000"/> <!-- in milliseconds -->
		<add key="AxUserName" value="czivko"/>
		<add key="AxUserPass" value="injectMyCandy99"/>
	    <add key="AxObjectServer" value="ContosoSample2@CDAX01:2714" /> 
		<add key="MagentoUserName" value="dynamics_ax" />
		<add key="MagentoUserPass" value="dynamics_ax" />
		<add key="MagentoWebServiceUrl" value="http://dev.candydirect.com/index.php/api/v2_soap/index/" />
	</appSettings>
</configuration>