<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<targets>
  <target name="f1" xsi:type="File" fileName="AxIntegrator.log.txt" archiveAboveSize="10240000" archiveNumbering="Sequence" />
  <target xsi:type="Console" name="c1"/>
</targets>
<rules>
	<logger name="*" minlevel="Debug" writeTo="f1,c1" />
</rules>
</nlog>