<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<targets>
  <target name="f1" xsi:type="File" fileName="AxIntegrator.log.txt" archiveAboveSize="10240000" archiveNumbering="Sequence" />
  <target xsi:type="Console" name="c1"/>
	<target name="gmail" type="Mail" subject="Exception on ${machinename}"
            smtpServer="smtp.gmail.com"
            smtpPort="587"
            smtpAuthentication="Basic"
            smtpUsername="draperdick@gmail.com"
            smtpPassword="coolRest53"
            enableSsl="true"
            from="AxIntegrator@candydirect.com"
            to="charleszivko@gmail.com"
          />
	<target name="CanceledOrderTarget" type="Mail" subject="Canceled Order Notice"
            smtpServer="smtp.gmail.com"
            smtpPort="587"
            smtpAuthentication="Basic"
            smtpUsername="candydirectnotification@gmail.com"
            smtpPassword="makeMeEatCandy44"
            enableSsl="true"
            from="candydirectnotification@candydirect.com"
            to="charleszivko@gmail.com"
          />
</targets>
<rules>
	<logger name="*" minlevel="Debug" writeTo="f1,c1" />
	<logger name="*" minlevel="Error" writeTo="gmail" />
	<logger name="CanceledOrder" minlevel="Info" writeTo="CanceledOrderTarget" />
	
</rules>
</nlog>